{% extends 'base.html.twig' %}


{% block title %}Wild Series
{% endblock %}

{% block body %}
	{% for category in categories %}
		<div>
			<h2>{{ loop.index }}
				-
				{{ category.name }}</h2>
			<a href="{{ path("category_show", { categoryName: category.name }) }}">Voir les programmes</a>
		</div>
	{% else %}
		<p>Aucun programme trouvé.</p>
	{% endfor %}
{% endblock %}
